‚óè üôá Who scored the highest marks in the subject B?
‚óè üôá What is the average marks scored in the subject C?
‚óè üôá Who scored the highest percentage of marks?
‚óè üôá If considered only top-4 subjects of a candidate, then who scored the highest
percentage of marks?

In [1]:
student_marks=[['Name',    ['A','B','C','D','E']],
               ['Ankit',    [41, 34, 45, 55, 63]],
               ['Aravindh', [42, 23, 34, 44, 53]],
               ['Lakshay',  [32, 23, 13, 54, 67]],
               ['Gyan',     [23, 82, 23, 64, 34]],
               ['Pranav',   [21, 23, 25, 56, 56]]
              ]

‚óè üôá Who scored the highest marks in the subject B?

In [2]:
student_score=[]
for i in student_marks[1:]:
    
    student_score.append([i[1][1],i[0]])

In [3]:
print(student_score)

[[34, 'Ankit'], [23, 'Aravindh'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [4]:
sorted(student_score)

[[23, 'Aravindh'],
 [23, 'Lakshay'],
 [23, 'Pranav'],
 [34, 'Ankit'],
 [82, 'Gyan']]

In [5]:
sorted_score_student= sorted(student_score)

In [6]:
sorted_score_student[-1]

[82, 'Gyan']

In [7]:
# What is the average marks scored in the subject C?

In [8]:
type(i)

list

In [9]:
x=0
sum_1=0
avg=0
for i in student_marks[1:]:
    x=x+1
    
    sum_1+=i[1][2]
    print(i[1][2])
print(sum_1)
avg =sum_1/len(student_marks[1:])
print(avg)

45
34
13
23
25
140
28.0

In [10]:
#Who scored the highest percentage of marks?

In [20]:
x=0
sumvar=0
pervar=1

for i in student_marks[1:]:
    x=x+1
    print('calu % of sub', x)
    print(i[1])
    sumvar=sum(i[1])
    pervar=(sumvar*100)/(len(student_marks[1:])*100)
    print('p%',pervar)

calu % of sub 1
[41, 34, 45, 55, 63]
p% 47.6
calu % of sub 2
[42, 23, 34, 44, 53]
p% 39.2
calu % of sub 3
[32, 23, 13, 54, 67]
p% 37.8
calu % of sub 4
[23, 82, 23, 64, 34]
p% 45.2
calu % of sub 5
[21, 23, 25, 56, 56]
p% 36.2

In [13]:
# If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?

In [14]:
marks_list=[]
sumtop4=0
pertop4=1
per_list=[]
for i in student_marks[1:]:
#     print(sorted(i[1]))
    marks=sorted(i[1])[1:]
    print(marks)
    
    sumtop4 = sum(marks)
    print(sumtop4)
    pertop4 = (sum(marks)*100)/(len(marks)*100)
    print(pertop4,'%')
    marks_list.append([i[0], marks, pertop4])
    per_list.append([pertop4, i[0]])
print("Highest % holder")
print(sorted(per_list)[-1])

[41, 45, 55, 63]
204
51.0 %
[34, 42, 44, 53]
173
43.25 %
[23, 32, 54, 67]
176
44.0 %
[23, 34, 64, 82]
203
50.75 %
[23, 25, 56, 56]
160
40.0 %
Highest % holder
[51.0, 'Ankit']

In [15]:
print(marks_list)

[['Ankit', [41, 45, 55, 63], 51.0], ['Aravindh', [34, 42, 44, 53], 43.25], ['Lakshay', [23, 32, 54, 67], 44.0], ['Gyan', [23, 34, 64, 82], 50.75], ['Pranav', [23, 25, 56, 56], 40.0]]